{# src/Pn/PnBundle/Resources/views/Default/accueildeQualite.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}Pour un Accueil de qualité | {{ parent() }}{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="Elles sont plusieurs centaines de milliers en France à s’occuper de nos enfants. Ces femmes (et
hommes parfois) ont choisi comme métier de faire grandir et éveiller les enfants des autres. Un
métier extrêmement nécessaire dans une société où les deux sexes travaillent.">
{% endblock %}

{% block body %}

    <div class="blog wrap">
        <div class="header clearfix">
            <div class="left">
                <h1>Pour un Accueil de qualité</h1>
            </div>
        </div>
        <div class="sonata-blog-post-content" style="margin: 20px 0 50px 0;">
            <p>Elles sont plusieurs centaines de milliers en France à s’occuper de nos enfants. Ces femmes (et
                hommes parfois) ont choisi comme métier de faire grandir et éveiller les enfants des autres. Un
                métier extrêmement nécessaire dans une société où les deux sexes travaillent. Parmi ces personnes,
                seules les professionnelles de crèches et les assistantes maternelles sont véritablement formées, car
                une formation est indispensable à l’exercice de leur métier.</p>

            <p>Or il y a aussi toutes celles qui gardent les enfants au domicile des parents et qu’on appelle
                officiellement les auxiliaires parentales et plus familièrement les gardes ou nourrices à domicile. Elles
                sont près de 100 000 rien qu’en Ile de France. Ces personnes se retrouvent souvent face à des
                enfants inconnus sans aucune formation préalable et avec pour seule expérience la garde de leurs
                propres enfants.</p>

            <p>Je ne parle même pas des baby-sitters, nombreux, qui font de la garde d’enfant temporairement
                pour financer leurs études ou comme job d’appoint. Ils ont aussi besoin de se former, d’apprendre
                les gestes de base, de comprendre l’enfant et ses besoins.</p>

            <p>Certes, il existe des formations adaptées un peu partout en France. Malheureusement, ces
                formations ont lieu le plus souvent en semaine, précisément quand l’enfant doit être accueilli et
                donc quand la nounou n’est pas disponible.</p>

            <p>Il nous tient à coeur d’apporter des solutions alternatives de formation à toutes ces personnes qui en
                ont besoin. Ainsi, parent-nounou.fr s’attelle à la longue tâche de collecter conseils et astuces et de
                les mettre à la disposition des gardes d’enfant gratuitement sur notre plateforme. Nous développons
                également une série de quiz en ligne pour tester vos connaissances dans le domaine de la petite
                enfance et projetons de mettre en place un véritable parcours de formation accessible au plus grand
                nombre.</p>

            <p>Afin d’encourager une garde de qualité, le moteur de recherche du site parent-nounou.fr est basé
                sur un système de points de confiance. Ces derniers se gagnent par la qualité des informations
                fournies, mais également en travaillant et en se formant progressivement. Ainsi, grâce à l’intelligence
                de notre moteur de recherche, les nounous les plus qualifiées et motivées seront valorisées dans les
                résultats de recherche. Il n’est pas possible d’acheter la visibilité sur parent-nounou.fr. Seules vos
                qualités professionnelles et vos compétences vous aideront à occuper la meilleure position.</p>
        </div>
    </div>

{% endblock %}
