{# src/Pn/PnBundle/Resources/views/Default/team.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}Conditions Générales d'Utilisation | {{ parent() }}{% endblock %}


{% block body %}

    <div class="wrap">

        <div class="row">
            <div class="col-md-12">
            <h1>Mentions légales</h1>
            <P STYLE="margin-bottom: 0.35cm"><B>Editeur du site&nbsp;:</B></P>
            <P STYLE="margin-bottom: 0.35cm">Le site parent-nounou.fr est un
                service de communication au public en ligne au sens de la loi
                n°2004-575 du 21 juin 2004 pour la confiance dans l’économie
                numérique, édité par Innov’Educ, société par actions
                simplifiée au capital de 7&nbsp;000 euros représentée par Mme Anna
                Stépanoff agissant en qualité de présidente.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Numéro d’identification&nbsp;:
                794 926&nbsp;063 RCS Chartres</P>
            <P STYLE="margin-bottom: 0.35cm">Siège social&nbsp;: Brétecherie
                28240 Saint-Eliph
            </P>
            <P STYLE="margin-bottom: 0.35cm">Email&nbsp;:
                contact[at]parent-nounou.fr</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>Responsable de la rédaction&nbsp;:</B></P>
            <P STYLE="margin-bottom: 0.35cm">Anna Stépanoff, présidente de la
                société Innov’Educ, est responsable de la rédaction du présent
                site au sens de l’article 93-2 de la loi n°82-652 du 29 juillet
                1982 sur la communication audiovisuelle.</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>Hébergeur&nbsp;:</B></P>
            <P STYLE="margin-bottom: 0.35cm">L’hébergement du présent site
                est assuré par o2switch, SARL</P>
            <P STYLE="margin-bottom: 0.35cm">SIRET&nbsp;: 510&nbsp;909 80700024 –
                RCS Clermont-Ferrand</P>
            <P STYLE="margin-bottom: 0.35cm">Siège social&nbsp;: 222-224
                Boulevard Gustave Flaubert, 63000 Clermont-Ferrand</P>
            <P STYLE="margin-bottom: 0.35cm">Numéro de téléphone: 04 44 44 60
                40</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm; page-break-before: always"><B>Conditions
                    Générales d’Utilisation</B></P>
            <P STYLE="margin-bottom: 0.35cm">Condition Générales d’Utilisation
                du site [www.]parent-nounou.fr, service de mise en relation et
                d’information pour les parents et les nounous, édité par
                Innov’Educ, SAS au capital de 7&nbsp;000 euros – RCS Chartres 794
                926&nbsp;063 – ayant son siège social à la Brétecherie 28240
                Saint-Eliph.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Dernière mise à jour&nbsp;: 12 mai
                2014</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>I – Généralités</B></P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Définitions</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Editeur&nbsp;»&nbsp;:
                désigne la société Innov’Educ éditant les services de mise en
                relation et de formation en ligne des parents et des nounous sur le
                site parent-nounou.fr</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Site&nbsp;»&nbsp;: désigne
                le site parent-nounou.fr édité par la société Innov’Educ</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;CGU&nbsp;»&nbsp;: désigne
                les présentes Conditions Générales d’Utilisation</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Utilisateur&nbsp;»&nbsp;:
                désigne tout visiteur du site, inscrit ou non</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Membre&nbsp;»&nbsp;:
                désigne un utilisateur inscrit du site, parent ou nounou</P>
            <P STYLE="margin-bottom: 0.35cm"> «&nbsp;Service&nbsp;»&nbsp;:
                désigne tout service rendu au moyen du site à un utilisateur, étant
                précisé que l’éditeur n’est jamais partie à un contrat de
                travail entre les parents et les nounous dans le sens légal du terme</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Service réservé&nbsp;»&nbsp;:
                désigne tout service rendu au moyen du site à ses membres, étant
                précisé que l’éditeur n’est jamais partie à un contrat de
                travail entre les parents et les nounous dans le sens légal du terme</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Parent&nbsp;»&nbsp;:
                désigne une personne physique cherchant une personne pour faire
                garder son ou ses enfants</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Nounou&nbsp;»&nbsp;:
                désigne une personne physique proposant ses services de garde et
                d’accueil d’enfant. Le terme nounou est utilisé d’une manière
                générique sur le site pour désigner 6 catégories de prestataires
                de service de garde d’enfant&nbsp;:
            </P>
            <UL>
                <LI><P STYLE="margin-bottom: 0.35cm">«&nbsp;Baby-sitter&nbsp;»&nbsp;:
                        désigne une personne physique proposant ses services de garde et
                        d’accueil d’enfant sur des périodes courtes (quelques heures ou
                        jours) et sur une base non régulière en complément d’une autre
                        activité</P>
                <LI><P STYLE="margin-bottom: 0.35cm">«&nbsp;Assistante
                        maternelle&nbsp;»&nbsp;: désigne une personne physique ayant
                        obtenue un agrément d’assistante maternelle et autorisée de ce
                        fait à accueillir des enfants à son domicile. L’utilisation du
                        terme&nbsp;«&nbsp;assistante maternelle&nbsp;» par des personnes
                        non habilitées est soumise à sanction</P>
                <LI><P STYLE="margin-bottom: 0.35cm">«&nbsp;Nourrice à
                        domicile&nbsp;»&nbsp;: désigne une personne physique proposant ses
                        services de garde et d’accueil d’enfant au domicile des parents
                        sur une base régulière au titre de son activité principale</P>
                <LI><P STYLE="margin-bottom: 0.35cm">«&nbsp;Garde partagée&nbsp;»&nbsp;:
                        désigne une personne physique proposant ses services de garde et
                        d’accueil de plusieurs enfants aux domiciles des parents par
                        alternance sur une base régulière au titre de son activité
                        principale</P>
                <LI><P STYLE="margin-bottom: 0.35cm">«&nbsp;Animateur&nbsp;»&nbsp;:
                        désigne une personne physique proposant des services d’animation
                        pour les anniversaires et autres fêtes ou réunions d’enfants
                        avec ou sans la présence des parents</P>
                <LI><P STYLE="margin-bottom: 0.35cm">«&nbsp;Jeune fille au pair&nbsp;»&nbsp;:
                        désigne une personne physique étrangère venant assister une
                        famille dans la garde des enfants, logée et nourrie par cette
                        famille pour une période déterminée</P>
            </UL>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Parent-nounou&nbsp;»&nbsp;:
                désigne une personne physique parent cherchant d’autres parents
                pour s’entraider dans la garde des enfants</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Compte utilisateur&nbsp;»&nbsp;:
                désigne le compte qui doit être créé pour devenir membre et
                accéder aux services réservés du site</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Profil&nbsp;»&nbsp;:
                désigne les informations présentant une nounou ou un parent
                publiées en ligne et accessibles aux autres utilisateurs</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Annonce&nbsp;»&nbsp;:
                désigne les informations relatives à une recherche de nounou
                publiée en ligne par des parents et accessible aux autres
                utilisateurs</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Commentaire&nbsp;»&nbsp;:
                désigne tout texte publié en ligne pour commenter une prestation
                d’une nounou, l’accueil d’un parent, un article, une vidéo ou
                une discussion sur un forum</P>
            <P STYLE="margin-bottom: 0.35cm">«&nbsp;Garde&nbsp;»&nbsp;: désigne
                l’action de garder ou d’accueillir un enfant accomplie par une
                nounou engagée par le parent par l’intermédiaire du site</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Objectifs et acceptation des
                        CGU</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Les présentes CGU ont pour objet,
                d’une part, de définir les modalités et les conditions dans
                lesquelles l’éditeur met à la disposition des utilisateurs du
                site les services disponibles sur le site, et, d’autre part, la
                manière par laquelle l’utilisateur accède au site et utilise ses
                services.</P>
            <P STYLE="margin-bottom: 0.35cm">Le simple accès au site à
                l’adresse <A HREF="http://parent-nounou.fr">http://parent-nounou.fr</A>
                implique l’acceptation de l’ensemble des conditions décrites.
                L’utilisateur déclare avoir lu, compris et accepté les présentes
                conditions générales. Il déclare par ailleurs être juridiquement
                capable de donner son consentement. Si tel n’est pas le cas, il
                déclare avoir l’autorisation d’une personne titulaire de
                l’autorité parentale, d’un tuteur ou d’un curateur.</P>
            <P STYLE="margin-bottom: 0.35cm">Une partie des services du site est
                réservée aux membres inscrits. Après création d’un compte
                utilisateur, les membres reçoivent un email contenant un lien
                d’activation. Ils doivent cliquer sur le lien d’activation pour
                activer leur compte utilisateur. En faisant cela, ils confirment
                d’avoir lu et accepté les CGU. Seule l’acceptation de ses CGU
                permet aux membres d’accéder aux services réservés du site.</P>
            <P STYLE="margin-bottom: 0.35cm">En cas de manquement à l’une des
                obligations prévues par les présentes, l’éditeur peut, sans
                notification préalable, supprimer le compte utilisateur concerné,
                ou interrompre de manière temporaire ou définitive tout ou partie
                du service pour cet utilisateur.</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Modification des CGU</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">L’éditeur se réserve le droit de
                modifier à tout moment les CGU, les fonctionnalités offertes sur le
                site, ainsi que les règles de fonctionnement du service. La
                modification prendra effet immédiatement dès la mise en ligne des
                CGU. Lorsque la modification survient après le transfert par le
                parent d’une somme d’argent à une nounou, la modification des
                CGU ne s’applique pas à la transaction en cours.</P>
            <P STYLE="margin-bottom: 0.35cm">L’éditeur se réserve notamment
                le droit de proposer des services nouveaux, gratuits ou payants sur
                le site.</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>II – Propriété intellectuelle
                    et liens hypertextes</B></P>
            <P STYLE="margin-bottom: 0.35cm">Le présent site constitue une œuvre
                protégée par les lois en vigueur sur la propriété intellectuelle.
                La structure du site, ainsi que les textes, graphiques, images, sons
                et vidéos qui le composent sont la propriété de l’éditeur.
                Toute reproduction ou exploitation partielle ou totale du contenu et
                des services proposés par le site est strictement interdite sans
                l’autorisation écrite préalable de l’éditeur. A ce titre,
                hormis la copie à usage privé qui est autorisée, toute
                reproduction, représentation, adaptation ou traduction sur un autre
                site sont susceptibles de constituer une contrefaçon au sens des
                articles L335-2 du Code de la propriété intellectuelle.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Par ailleurs, l’éditeur
                n’autorise aucune autre utilisation de son site, de ses services,
                de ses textes et de ses données, que celle proposée par le site.
                Toute infraction à cette règle suite à une utilisation payante ou
                non du site entraînera des sanctions telles que la suppression
                immédiate du compte utilisateur sans aucun remboursement ou
                dédommagement possible ou des poursuites judiciaires.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Il est en particulier interdit à
                toute personne physique ou morale d’entrer en contact avec les
                parents et les nounous afin de récupérer partiellement ou en
                totalité les données des utilisateurs pour des fins autre que
                personnelles. L’éditeur se réserve le droit d’engager des
                poursuites judiciaires s’il s’estime être victime d’un
                préjudice quelconque en raison de telles actions, et en particulier
                en cas d’utilisation de sa banque de données à des fins
                commerciales ou de prospection (utilisation des coordonnées des
                utilisateurs, publicité abusive, etc.).</P>
            <P STYLE="margin-bottom: 0.35cm">Toute personne insérant un lien
                hypertexte sur le site en assume la pleine responsabilité tant
                vis-à-vis de l’éditeur que vis-à-vis des tiers. L’établissement
                d’un lien sur un site tiers vers les pages du site de l’éditeur
                est autorisé à condition de le faire apparaître dans une nouvelle
                fenêtre du navigateur, afin de faire prendre conscience aux
                utilisateurs qu’ils accèdent à un nouveau site Internet.
                L’éditeur se réserve le droit de demander la suppression d’un
                lien non conforme à l’objet de son site.</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>III – Utilisation du site</B></P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Continuité du service</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Le site est accessible 24 heures sur
                24 et 7 jours sur 7, sous réserve d’éventuelles pannes et
                interventions de maintenance nécessaires à son bon fonctionnement
                et sauf cas de force majeur ou d’évènement hors du contrôle de
                l’éditeur. Le temps de chargement et de réponse des informations
                sur le site n’est pas garanti par l’éditeur.</P>
            <P STYLE="margin-bottom: 0.35cm">Pour des raisons liées à la
                modification du site ou à sa maintenance, l’éditeur peut couper
                pendant plusieurs heures ou jours l’accès au site, sans que cela
                puisse donner lieu à une quelconque indemnisation.</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Accessibilité des services </B></I>
            </P>
            <P STYLE="margin-bottom: 0.35cm">Tout utilisateur peut accéder
                librement à tout moment aux services suivants&nbsp;:</P>
            <UL>
                <LI><P STYLE="margin-bottom: 0.35cm">Consultation des articles et
                        des vidéos
                    </P>
                <LI><P STYLE="margin-bottom: 0.35cm">Recherche des nounous et des
                        annonces des parents</P>
                <LI><P STYLE="margin-bottom: 0.35cm">Consultation des profils
                        détaillés des nounous et des annonces détaillées des parents</P>
            </UL>
            <P STYLE="margin-bottom: 0.35cm">Les autres services sont réservés
                aux membres inscrits&nbsp;:</P>
            <UL>
                <LI><P STYLE="margin-bottom: 0.35cm">Publication d’un profil par
                        une nounou ou d’une annonce par un parent</P>
                <LI><P STYLE="margin-bottom: 0.35cm">Communication avec les autres
                        membres par le moyen de la messagerie interne</P>
                <LI><P STYLE="margin-bottom: 0.35cm">Paiement en ligne d’une
                        prestation de nounou par un parent</P>
                <LI><P STYLE="margin-bottom: 0.35cm">Recommandation d’autres
                        utilisateurs</P>
                <LI><P STYLE="margin-bottom: 0.35cm">Evaluation et rédaction de
                        commentaires sur les articles de blog</P>
                <LI><P STYLE="margin-bottom: 0.35cm">Gestion d’un espace personnel</P>
            </UL>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Inscription</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Afin de s’inscrire et de créer
                son compte utilisateur, tout utilisateur doit fournir les données
                personnelles suivantes permettant son identification&nbsp;: prénom,
                nom, adresse email et mot de passe. Ils doivent aussi choisir une
                catégorie d’utilisateur&nbsp;: parent ou nounou. Une fois ces
                données renseignées, l’utilisateur peut accéder à l’ensemble
                des services réservés et à son compte utilisateur.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Après cette première utilisation
                immédiate, l’accès au service réservé est possible uniquement
                après une confirmation de l’adresse email.&nbsp;L’utilisateur
                doit cliquer sur un lien d’activation contenu dans le message
                électronique qui lui a été envoyé automatiquement suite à son
                inscription.
            </P>
            <P STYLE="margin-bottom: 0.35cm">A chaque nouvelle connexion
                ultérieure, l’utilisateur doit communiquer son adresse email et
                son mot de passe. L’adresse email de l’utilisateur lui sert
                d’identifiant unique et ne peut être associée qu’à un seul
                compte utilisateur.
            </P>
            <P STYLE="margin-bottom: 0.35cm">L’inscription en tant que nounou
                enclenche automatiquement la création d’un profil public visible
                en ligne par tous les utilisateurs, inscrits ou pas. Les membres
                inscrits en tant que nounous s’engagent en conséquence à
                reconnaitre et accepter expressément la publication automatique de
                leurs données fournies. Les nounous ne peuvent pas avoir plus d’un
                seul profil.</P>
            <P STYLE="margin-bottom: 0.35cm">L’inscription en tant que parent
                ne mène pas à la création automatique d’une annonce en ligne.
                Les parents inscrits disposent uniquement d’un compte utilisateur.
                Afin de créer une annonce publique de recherche de nounou, le parent
                doit cliquer sur «&nbsp;Publier mon annonce&nbsp;» et remplir le
                formulaire proposé. Les parents peuvent créer plusieurs annonces de
                recherche de nounou.</P>
            <P STYLE="margin-bottom: 0.35cm">Une fois inscrits, les utilisateurs
                peuvent compléter leurs profils ou annonces avec des informations
                supplémentaires qui ne sont pas obligatoires. Les nounous peuvent
                par ailleurs ajouter à leur profil une vidéo ou un fichier sonore.</P>
            <P STYLE="margin-bottom: 0.35cm">Bien que les profils et les annonces
                soient publiés automatiquement en ligne dès leur création,
                l’éditeur effectue une vérification régulière de l’ensemble
                des profils et des annonces. L’éditeur se réserve ainsi le droit
                de retirer à tout moment tout profil ou toute annonce qu’il
                jugerait contraire à l’éthique du site, et ce, sans avoir à se
                justifier auprès du membre concerné. Afin de veiller à la
                cohérence et à la qualité des informations publiées sur le site,
                l’éditeur se réserve aussi le droit de modifier l’aspect
                formel, l’orthographe ou le contenu erroné ou incomplet des
                profils et des annonces.</P>
            <P STYLE="margin-bottom: 0.35cm">Les membres peuvent de leur côté
                modifier à tout moment les informations liées à leurs profils et
                annonces. Ils doivent même les mettre à jour régulièrement.</P>
            <P STYLE="margin-bottom: 0.35cm">Dans un souci de transparence, les
                nounous sont encouragées à télécharger une copie de leur pièce
                d’identité et une copie de leur agrément d’assistante
                maternelle, le cas échéant, pour compléter leur profil en ligne.
                Ces documents ne sont pas visibles par les autres utilisateurs. Dans
                la mesure des moyens disponibles, l’éditeur s’engage à vérifier
                les documents téléchargés afin de veillez à la véracité des
                informations fournies dans les profils.</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Tarifs</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">L’utilisation du service par les
                nounous est entièrement gratuite.
            </P>
            <P STYLE="margin-bottom: 0.35cm">L’utilisation du service par les
                parents est également gratuite pendant la phase de lancement. Les
                présentes CGU seront modifiées au moment de passage à une
                facturation de l’utilisation du service par les parents. L’éditeur
                se réserve le droit d’arrêter à tout moment la phase de
                lancement. Les utilisateurs déjà inscrits seront prévenus en
                conséquence.</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Recommandations en ligne</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Les membres sont encouragés à
                recommander les autres membres qu’ils ont fréquentés.&nbsp;La
                recommandation doit porter uniquement sur la qualité de la
                prestation ou de l’accueil.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Dans un souci de transparence,
                chaque évaluation est publiée avec le nom de son auteur. Les
                utilisateurs acceptent expressément de recevoir une recommandation
                de leur prestation (pour les nounous) ou de leur accueil (pour les
                parents) et de publier les recommandations qu’ils ont rédigées
                sur le site. Ils déclarent être conscients du fait que ces
                recommandations peuvent être consultées par tout utilisateur du
                site, inscrit ou non, et peuvent apparaître dans des moteurs de
                recherche.</P>
            <P STYLE="margin-bottom: 0.35cm">L’éditeur se réserve le droit de
                supprimer à tout moment et sans préavis toute recommandation jugée
                obsolète, calomnieuse ou trompeuse.</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Système de points de
                        confiance</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Afin d’encourager la transparence
                dans les relations des utilisateurs, un système de points de
                confiance récompense les utilisateurs les plus fiables (ex. ayant
                fourni davantage d’information dans leurs profils et leurs
                annonces, ayant déjà travaillé par l’intermédiaire du site ou
                ayant déjà reçu des recommandations positives).
            </P>
            <P STYLE="margin-bottom: 0.35cm">Les utilisateurs ayant reçu plus de
                points de confiance apparaissent en premier dans les résultats de
                recherche.
            </P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>Obligations des utilisateurs</B></P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Transparence</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Les utilisateurs s’engagent à
                fournir des informations conformes à la réalité et les plus
                complètes possibles dans leurs profils et annonces. Ils s’engagent
                à les mettre à jour dès que l’information affichée devient
                obsolète. L’éditeur se réserve le droit de supprimer ou
                désactiver tout profil ou annonce qu’il juge obsolète ou
                trompeur, et cela sans préavis, sans remboursement et sans aucun
                dédommagement possible.</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Légalité</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Les utilisateurs s’engagent à
                agir en légalité  en respectant les règles du droit de travail.</P>
            <P STYLE="margin-bottom: 0.35cm">Par ailleurs, les utilisateurs
                reconnaissent disposer des droits d’utilisation et de diffusion des
                images, photos, vidéos ou autres visuels utilisés sur le site.</P>
            <P STYLE="margin-bottom: 0.35cm"><I><B>Utilisation à titre personnel</B></I></P>
            <P STYLE="margin-bottom: 0.35cm">Les utilisateurs s’engagent à
                n’utiliser le service du site qu’à titre personnel. Il est
                formellement interdit de créer notamment un profil de nounou pour le
                compte d’une agence commerciale ou d’un organisme à but non
                lucratif.</P>
            <P STYLE="margin-bottom: 0.35cm"><B>III – Responsabilité</B></P>
            <P STYLE="margin-bottom: 0.35cm">La garde d’enfant résultant de
                l’accord entre le parent et la nounou, les utilisateurs du service
                (parents et nounous) agissent sous leur seule et entière
                responsabilité. A ce titre, le déroulement effectif de la
                prestation de garde d’enfant proposée par la nounou et acceptée
                par le parent ne saurait entraîner de responsabilité imputable à
                l’éditeur, sur quelque fondement que ce soit. Le service proposé
                par l’éditeur est un service d’intermédiation.</P>
            <UL>
                <LI><P STYLE="margin-bottom: 0.35cm">Notamment, l’éditeur n’est
                        en aucun cas responsable de l’exactitude, de la validité ou de la
                        véracité des profils, des annonces et des commentaires publiés
                        par les utilisateurs. Leur contenu reste sous l’entière
                        responsabilité des auteurs.
                    </P>
                <LI><P STYLE="margin-bottom: 0.35cm">L’éditeur s’engage à
                        mettre tous les moyens en œuvre pour assurer aux utilisateurs la
                        continuité du service de mise en relation. Il n’est en revanche
                        responsable ni de l’efficacité des recherches des utilisateurs,
                        ni de la qualité des prestations fournies par les nounous. Les
                        utilisateurs du service de mise en relation sont seuls responsable
                        de l’utilisation faite de ce service.</P>
                <LI><P STYLE="margin-bottom: 0.35cm">D’une manière générale,
                        l’éditeur ne garantit pas le comportement des utilisateurs, ni
                        leur honnêteté ou leur loyauté.
                    </P>
                <LI><P STYLE="margin-bottom: 0.35cm">Tout particulièrement,
                        l’éditeur se dégage de toute responsabilité concernant les
                        comportements illégaux et les manquements au respect du droit de
                        travail par les utilisateurs, concernant entre autres l’obligation
                        de déclarer le travail et l’emploi d’une personne, de rédiger
                        un contrat de travail, de respecter les règles de congés payés et
                        du salaire minimum.</P>
            </UL>
            <P STYLE="margin-bottom: 0.35cm">Ainsi aucune plainte ou litige ne
                peut être initiée à l’encontre de l’éditeur au sujet des
                points précités.</P>
            <P STYLE="margin-bottom: 0.35cm"><B>VII – Traitement des données
                    personnelles des utilisateurs  et politique de confidentialité</B></P>
            <P STYLE="margin-bottom: 0.35cm">Conformément aux dispositions de la
                loi n°78-17 du 6 janvier 1978 modifiée par la loi n°2004-801 du 6
                août 2004 relative à l’informatique, aux fichiers et aux
                libertés, l’éditeur a procédé le 15 octobre 2013 auprès de la
                Commission Nationale de l’Informatique et des Libertés (CNIL) à
                la déclaration préalable du traitement qu’il opère sur les
                données personnelles concernant les utilisateurs du site.</P>
            <P STYLE="margin-bottom: 0.35cm">Conformément aux dispositions
                légales, seuls ont accès aux données personnelles des utilisateurs
                du site les salariés et prestataires de service de l’éditeur,
                dont la tâche consiste à faire fonctionner le site ou à fournir le
                service prévu. Les utilisateurs ont le droit de s’opposer, sans
                frais, à ce que les données les concernant soient utilisées à des
                fins de prospection, notamment commerciale.</P>
            <P STYLE="margin-bottom: 0.35cm">Tout utilisateur dispose d’un
                droit d’accès, de modification, de rectification et de suppression
                des données qui le concerne. Pour exercer ce droit, tout utilisateur
                peut s’adresser à l’éditeur (par email à
                contact[at]parent-nounou.fr ou par la poste en écrivant à
                Innov’Educ, La Brétecherie 28240 Saint-Eliph) en indiquant son
                nom, prénom et adresse email. Conformément à la réglementation en
                vigueur, toute demande doit être signée et accompagnée de la
                photocopie d’un titre d’identité portant signature et préciser
                l’adresse à laquelle doit parvenir la réponse. Une réponse sera
                alors adressée dans un délai de 2 mois suivant la réception de la
                demande. Il appartient aux utilisateurs eux-mêmes de modifier et de
                mettre à jour les données personnelles qu’ils ont fournies en
                remplissant un formulaire d’inscrition et en complétant leur
                profil en ligne.
            </P>
            <P STYLE="margin-bottom: 0.35cm">Les informations en question sont
                recueillies par l’éditeur afin de mettre efficacement en relation
                les parents et les nounous. Elles peuvent aussi être utilisées de
                façon anonyme pour la rédaction d’articles publiés dans le site
                et à des fins statistiques ou pour des raisons administratives et
                juridiques.</P>
            <P STYLE="margin-bottom: 0.35cm">Les seules données obligatoires et
                indispensables au bon fonctionnement du service sont celles demandées
                au moment d’inscription des utilisateurs&nbsp;: prénom, nom,
                adresse email et mot de passe. Aucune autre donnée n’est
                obligatoire.</P>
            <P STYLE="margin-bottom: 0.35cm">L’éditeur s’engage à prendre
                toute précaution utile pour préserver la sécurité des données
                personnelles des utilisateurs et notamment pour empêcher que ces
                données ne soient déformées, endommagées, ou que des tiers non
                autorisés y aient accès.</P>
            <P STYLE="margin-bottom: 0.35cm"><A NAME="_GoBack"></A>Par ailleurs,
                le site utilise certaines applications informatiques provenant de
                tiers afin de permettre à chaque utilisateur de partager le contenu
                du site avec d’autres personnes ou de faire connaître leur opinion
                concernant ce contenu. En cliquant sur les boutons de partage social
                de&nbsp;Facebook&nbsp;et de&nbsp;Twitter&nbsp;notamment, les
                utilisateurs les autorisent à relier les informations collectées
                sur le site à leurs comptes utilisateurs.</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><B>IX – Droit applicable et
                    juridiction compétente</B></P>
            <P STYLE="margin-bottom: 0.35cm">Les présentes conditions générales
                sont soumises au droit français. Dans le cas où toute tentative de
                recherche d’une solution amiable a échoué, la juridiction du
                siège de l’éditeur sera compétente pour connaître le litige.</P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>
            <P STYLE="margin-bottom: 0.35cm"><BR><BR>
            </P>

            </div>
        </div>
    </div>
{% endblock %}
