{# src/Pn/PnBundle/Resources/views/Default/gardePartagee.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}Garder les enfants entre parents | {{ parent() }}{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="Nous innovons en créant une nouvelle catégorie de mode de garde – « parents-nounous », les
parents qui s’entraident dans la garde de leurs enfants.">
{% endblock %}

{% block body %}

    <div class="blog wrap">
        <div class="header clearfix">
            <div class="left">
                <h1>Garder les enfants entre parents</h1>
            </div>
        </div>
        <div class="sonata-blog-post-content" style="margin: 20px 0 50px 0;">
            <p>Nous innovons en créant une nouvelle catégorie de mode de garde – « parents-nounous », les
            parents qui s’entraident dans la garde de leurs enfants. La garde payante par un professionnel peut
            vite devenir trop coûteuse. L’entraide entre amis et voisins fait partie intégrante de la vie de
            beaucoup d’entre nous. Aujourd’hui, nous avons la possibilité de la rendre accessible à une plus
            grande échelle.</p>
            <p>Imaginez : vous êtes libre mardi soir, mais souhaitez sortir jeudi. Grâce à notre plateforme en ligne, il
            devient facile de trouver près de chez vous une famille disponible jeudi, mais cherchant un mode de
            garde pour justement mardi soir. Vous vous rencontrez sur notre plateforme et vous vous organisez
            en conséquence. Rien de plus simple !</p>
            <p>Les enfants apprennent tout autant pas imitation que par transmission. Les faire grandir dans une
            communauté d’adultes qui s’entraident en fera de futurs adultes responsables et ouverts envers les
            autres. Nous sommes convaincus qu’il est bénéfique pour l’enfant de découvrir des personnalités et
            des univers différents. La rencontre avec d’autres modes de vie et d’autres familles ne pourra
            qu’enrichir leurs connaissances et éveiller leur curiosité.</p>
        </div>
    </div>

{% endblock %}
