{# src/Pn/PnBundle/Resources/views/Default/team.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}Cherche Qui sommes-nous ? | {{ parent() }}{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="Présentation de l’équipe de parent-nounou.fr">
{% endblock %}

{% block body %}

    <div class="wrap">
        <div class="frame">
            <img src="{{ asset('bundles/pnpn/images/team.jpg') }}" alt="formations" style="max-width: 100%;">

        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Présentation du projet et de l’équipe</h1>

                <p>Parent-nounou est une communauté des adultes soucieux du bien-être et de l’éducation des enfants. Le
                    site est un lieu de rencontres entre parents, nounous, baby-sitters ou encore parents-nounous – ces
                    étranges parents qui s’entre-aident dans la garde et dans l’éducation de leurs enfants.</p>
                <p>L’aventure de parent-nounou a commencé en novembre 2013 quand Anna Stépanoff, ancienne consultante et
                    maman de deux enfants, a rencontré Romain Coeur, développeur spécialisé dans la sécurité des données
                    en ligne. Ensemble, ils ont fait le pari de créer une plateforme de baby-sitting et de garde d’enfant
                    innovante et sûre, mettant la confiance au coeur de la mise en relation.</p>
                <p>Depuis avril 2014, Leïla Mousstamire, étudiante en  journalisme multimédia, les a rejoints comme
                    stagiaire pour développer le blog et les contenus éducatifs du site.</p>

            </div>
        </div>
    </div>
{% endblock %}
