<div class="row wrap">
    <a href="#register" role="button" class="btn col-md-2 bg-blue left" data-toggle="modal">Inscription</a>
    <a href="#login" role="button" class="btn col-md-2 bg-purple right" data-toggle="modal">Connexion</a>
    <a href="{{ path('pn_pages_homepage') }}">
        <div class="logo">
            <h2 style="    text-align: right;">Parent</h2>
            <img src="{{ asset('img/illus/logo.jpg') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px;">
            <h2>Nounou</h2>
        </div>
    </a>
</div>


<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Inscription</h3>
            </div>
            <div class="modal-body">
                {{ render(controller("FOSUserBundle:Registration:Register")) }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Connexion</h3>
            </div>
            <div class="modal-body">
                {{ render(controller("FOSUserBundle:Security:Login")) }}
            </div>
        </div>
    </div>
</div>

