#
# more information can be found here http://sonata-project.org/bundles/admin
#
sonata_admin:
    # default value, change it to sonata.admin.security.handler.acl to use ACL
    security:
        handler: sonata.admin.security.handler.role
        # acl security information
        information:
            GUEST:    [VIEW, LIST]
            STAFF:    [EDIT, LIST, CREATE]
            EDITOR:   [OPERATOR, EXPORT]
            ADMIN:    [MASTER]
        # permissions not related to an object instance and also to be available when objects do not exist
        # the DELETE admin permission means the user is allowed to batch delete objects
        admin_permissions: [CREATE, LIST, DELETE, UNDELETE, EXPORT, OPERATOR, MASTER]
        # permission related to the objects
        object_permissions: [VIEW, EDIT, DELETE, UNDELETE, OPERATOR, MASTER, OWNER]

    title: Parent-nounou
    title_logo: bundles/pnpn/images/favicon.png
    options:
        html5_validate: false # does not use html5 validation
        pager_links: 5 # pager max links to display

    templates:
        # default global templates
        # the layout template include javascript/stylesheet to the formatter bundle,
        # if you don't need it use the default one: SonataAdminBundle::standard_layout.html.twig
        layout:  SonataAdminBundle::standard_layout.html.twig
        ajax:    SonataAdminBundle::ajax_layout.html.twig

        # default value if done set, actions templates, should extends a global templates
        list:    SonataAdminBundle:CRUD:list.html.twig
        show:    SonataAdminBundle:CRUD:show.html.twig
        edit:    SonataAdminBundle:CRUD:edit.html.twig

    dashboard:
        blocks:
#            - { position: left, type: sonata.admin.block.admin_list }
            - { position: left, type: sonata.block.service.statistics }
            - { position: right, type: sonata.block.service.connected.user }
            - { position: left, type: sonata.block.service.controls }

        groups:
            sonata.admin.group.administration:
                label:           sonata_administration
                label_catalogue: SonataAdminBundle
                icon:            '<i class="fa fa-cogs"></i>'
                items:
                    - sonata.user.admin.user
                    - sonata.user.admin.group
                    - pn.pn.admin.mailtemplate
            sonata.admin.group.blog:
                label:           sonata_blog
                label_catalogue: PnPnBundle
                icon:            '<i class="fa fa-pencil-square"></i>'
                items:
                    - sonata.news.admin.comment
                    - sonata.news.admin.post
                    - sonata.media.admin.media
                    - sonata.classification.admin.collection
                    - sonata.classification.admin.tag
                    - sonata.media.admin.gallery
#                    - sonata.comment.admin.thread
            sonata.admin.group.ecommerce:
                label:           sonata_ecommerce
                label_catalogue: SonataAdminBundle
                icon:            '<i class="fa fa-dollar"></i>'
                items:
            sonata.admin.group.demo:
                label: Parent-nounou
                icon:  '<i class="fa fa-tachometer"></i>'
                items:
                    - pn.pn.admin.babysitter
                    - pn.pn.admin.pparent
                    - pn.pn.admin.recommendation
                    - pn.pn.admin.job
    assets:
        stylesheets:
            # The sandbox includes default pre-optimized version of some css and js
            # So you can either use them, and add your custom assets here
            #   ~ or ~
            # tweak the assetic.yml and the following lines
            - assetic/sonata_admin_css.css
            - assetic/sonata_formatter_css.css
            - assetic/sonata_jqueryui_css.css

#            - bundles/sonataformatter/markitup/skins/sonata/style.css
#            - bundles/sonataformatter/markitup/sets/markdown/style.css
#            - bundles/sonataformatter/markitup/sets/html/style.css
#            - bundles/sonataformatter/markitup/sets/textile/style.css
#            - bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css
#            - bundles/sonataadmin/vendor/AdminLTE/css/font-awesome.min.css
#            - bundles/sonataadmin/vendor/AdminLTE/css/ionicons.min.css
#            - bundles/sonataadmin/vendor/AdminLTE/css/AdminLTE.css
#            - bundles/sonataadmin/vendor/jqueryui/themes/flick/jquery-ui.min.css
#            - bundles/sonataadmin/vendor/select2/select2.css
#            - bundles/sonataadmin/vendor/select2/select2-bootstrap.css
#            - bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css
#            - bundles/sonataadmin/css/styles.css
#            - bundles/sonataadmin/css/layout.css

        javascripts:
            - assetic/sonata_admin_js.js
            - assetic/sonata_jqueryui_js.js
            - assetic/sonata_formatter_js.js
            - bundles/sonataformatter/vendor/ckeditor/ckeditor.js


#            - bundles/sonataadmin/vendor/jquery/dist/jquery.min.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.core.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.widget.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.mouse.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.draggable.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.droppable.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.resizable.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.selectable.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.sortable.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.accordion.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.autocomplete.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.button.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.datepicker.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.dialog.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-blind.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-bounce.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-clip.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-drop.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-explode.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-fade.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-fold.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-highlight.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-pulsate.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-scale.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-shake.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-slide.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.effect-transfer.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.menu.js
#            - sonataadmin/vendor/jqueryui/ui/jquery.ui.position.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.progressbar.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.slider.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.spinner.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.tabs.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/jquery.ui.tooltip.js
#            - bundles/sonataadmin/vendor/jqueryui/ui/minified/i18n/jquery-ui-i18n.min.js
#            - bundles/sonataadmin/jquery/jquery.form.js
#            - bundles/sonataadmin/jquery/jquery.confirmExit.js
#            - bundles/sonataadmin/vendor/jquery.scrollTo/jquery.scrollTo.js
#            - bundles/sonataadmin/vendor/bootstrap/dist/js/bootstrap.min.js
#            - bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js
#            - bundles/sonataadmin/vendor/select2/select2.min.js
#            - bundles/sonataadmin/App.js
#            - bundles/sonataadmin/Admin.js
#            - bundles/sonataformatter/vendor/ckeditor/ckeditor.js
#            - bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js
#            - bundles/sonataformatter/markitup/sets/markdown/set.js
#            - bundles/sonataformatter/markitup/sets/html/set.js
#            - bundles/sonataformatter/markitup/sets/textile/set.js


