{# src/Pn/PnBundle/Resources/views/Dashboard/paiements.html.twig #}

{% extends "PnPnBundle:Dashboard:layout.html.twig" %}

{% block title %}{{ parent() }} - Tableau de bord{% endblock %}

{% block dashbody %}
    <div class="wrap">
        <div class="row">
            <div class="revenus col-md-9">
                <div class="job revenu">
                    <div class="header">
                        <p class="tarif">10€ / heure</p>
                        <strong>Sarah L.&nbsp;</strong>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <div class="line clearfix">
                            <div class="right">
                                30€
                            </div>
                            <div class="left">
                                06/03/2014 - #465798 - <span class="red">à payer</span>
                            </div>
                        </div>
                        <div class="line clearfix">
                            <div class="right">
                                30€
                            </div>
                            <div class="left">
                                06/03/2014 - #465798 - <span class="green">payé</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job revenu">
                    <div class="header">
                        <p class="tarif">10€ / heure</p>
                        <strong>Sarah L.&nbsp;</strong>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <div class="line clearfix">
                            <div class="right">
                                30€
                            </div>
                            <div class="left">
                                06/03/2014 - #465798 - <span class="red">à payer</span>
                            </div>
                        </div>
                        <div class="line clearfix">
                            <div class="right">
                                30€
                            </div>
                            <div class="left">
                                06/03/2014 - #465798 - <span class="green">payé</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="solde bg-red">
                    <p>Solde disponible : 30€</p>
                    <button class="btn btn-inverse">retirer mon solde</button>
                </div>
                <p style="text-align: center; font-weight: bold; margin-top: 20px;">Revenu total : 250€</p>
            </div>
        </div>
    </div>
{% endblock %}