
.blog .header
{
    padding: 30px;
    margin-bottom: 20px;
}

.blog .header h1
{
    display: inline;
    font-size: 18px;
    font-weight: bold;
    vertical-align: text-bottom;
    padding-left: 10px;
}

.blog article
{
    margin-bottom: 20px;
}