

/***************element principaux du corps de page*****************/


.bg-blue
{
    background-color: #65c0e3;
}
.bg-yellow
{
    background-color: #f7c937;
}
.bg-purple
{
    background-color: #b093c4;
}
.bg-red
{
    background-color: #e84355;
}

.bg-facebookblue
{
    background-color: #175fad;
}

.blue
{
    color: #65c0e3;
}
.yellow
{
    color: #f7c937;
}
.purple
{
    color: #b093c4;
}
.red
{
    color: #e84355;
}

.white
{
    color: white;
}

.green
{
    color: green;
}


body
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.btn
{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    padding: 3px;
    font-size: 17px;
    font-weight: bold;
}
.btn:hover
{
    color: #FFFFFF;
}

.wrap
{
    max-width: 960px;
    margin: auto;
}

.big-wrap
{
    max-width: 1100px;
    margin: auto;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

aside
{
    width: 300px;
    display: inline-block;
    margin: 45px 30px 40px 0;
}

a
{
    color: #000000;
}
a:hover
{
    text-decoration: none;
}

.icon
{
    height: 30px;
    width: 30px;
    padding: 0;
}

.favorite
{
    background-image: url('../images/icons/fav.png');
    margin: -10px -126px;
    vertical-align: top;
    border: none;
    border-radius: 20px;
}

.banner
{
    height: 60px;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

input
{
    border-radius: 20px;
    border: none;
}

input[type="search"]
{
    padding-left: 20px;
    border: solid #d9d9d9 1px;
}

input[type="submit"]
{
    background-color: #f7c937;
    color: #FFFFFF;
}

select
{
    border-radius: 20px;
    padding-left: 20px;
    height: 40px;
    background-color: #ffffff;
    border: solid #eeeeee 2px;
}
select::selection
{
    color: #BBBBBB;
}
select:focus
{
    color: #BBBBBB;
}

.bold
{
    font-weight: bold;
}

label
{
    font-weight: normal;
    line-height: 1;
}

.round
{
    border-radius: 20px;
    height: 30px;
    width: 30px;
    border: none;
}

h4
{
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
}

h5
{
    font-size: 16px;
}

video
{
    width: 100%;
    margin-bottom: 25px;
}

.disable
{
    cursor: default !important;
}
.disable:hover
{
    background-color: #d3d3d3 !important;
}





/***************Header*****************/

.construction
{
    text-align: center;
    background-color: #eeeeee;
}

header
{
    height: 120px;
    position: relative;
}

header .btn
{
    margin: 45px 0;
}

header .connected .btn
{
    background-color: lightgrey;
    padding: 0;
    margin-left: 5px;
}
header .connected .btn:hover
{
    background-color: #e84355;
}

.circle
{
    width: 180px;
    height: 130px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -90px;
    padding: 0 50px 50px 50px;
    background-color: white;
    z-index: 2;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.logo
{
    display: block;
    width: 426px;
    margin: 45px auto;
    position: relative;
}

.logo h2
{
    display: inline;
    color: #b093c4;
    margin: 0 30px;
    font-size: 30px;
    vertical-align: middle;
    font-weight: bold;
    z-index: 3;
    position: relative;
}





/***************Page d'accueil*****************/

.maptool
{
    height: 360px;
}

#map
{
    height: 360px;
    width: 100%;
}

.searchForm
{
    position: relative;
    margin: -55px 0 0 20px;
}

.searchForm select
{
    width: 240px;
    background-color: #666666;
    padding-left: 20px;
    height: 40px;
}
.searchForm select::selection
{
    color: #FFFFFF;
}
.searchForm select:focus
{
    color: #FFFFFF;
}

.searchForm .search
{
    margin: auto 20px;
    height: 40px;
    border-radius: 20px;
    width: 500px;
    padding-left: 20px;
    border: solid #d9d9d9 1px;
    vertical-align: bottom;
    font-size: 17px;
}

.searchForm .submit
{
    height: 40px;
    width: 140px;
    background: url("../images/icons/search.png") 20px center no-repeat #f7c937;
    padding-left: 20px;
}

.present h3
{
    margin: 40px 0;
    color: #65c0e3;
    text-align: center;
}

.present .big-banner
{
    background: url("../images/banners/ban-large-grey.png") no-repeat;
    height: 150px;
}

.present img
{
    height: 100px;
    float: left;
    margin: 20px;
}

.present h5
{
    margin-top: 15px;
    font-weight: bold;
}

.present .topic
{
    padding-left: 0;
}


.news
{
    height: 400px;
}

.news img
{
    float: right;
}

.new
{
    width: 300px;
    display: inline-block;
    border: solid #eeeeee 2px;
    margin: 40px 30px 0 0;
    height: 160px;
    vertical-align: top;
}
.new:hover
{
    border-color: #e84355;
    color: #000000;
}

.new .header
{
    background-color: #eeeeee;
    padding: 10px 20px;
}

.new .header .title
{
    width: 236px;
}

.new .header img
{
    height: 20px;
    float: right;
}

.new .header h5
{
    display: inline;
    font-weight: bold;
}

.new .body
{
    padding: 10px 20px;
}


.mini-profiles
{
    margin-bottom: 50px;
}

.mini-profiles .banner
{
    height: 70px;
    text-align: center;
    padding-top: 10px;
    background: url("../images/banners/ban-large-red.png") no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.mini-profile
{
    width: 300px;
    display: inline-block;
    height: 160px;
    border: solid #eeeeee 2px;
    overflow: hidden;
    margin-left: 20px;
}
.mini-profile:hover
{
    border-color: #e84355;
}

.mini-profiles .wrap a:first-child .mini-profile
{
    margin-left: 0;
}

.mini-profile .header
{
    background-color: #eeeeee;
    padding: 10px 20px;
}

.mini-profile img
{
    float: left;
}

.mini-profile .header strong
{
    padding-left: 20px;
}

.mini-profile .header p
{
    padding-left: 20px;
    display: flex;
}

.mini-profile .body p
{
    padding: 20px;
    display: flex;
}

.mini-profiles a
{
    color: #333;
}





/***************Page des annonces*****************/

#accordion
{
    border: solid #eeeeee 4px;
}

#accordion .panel
{
    border: none;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .0);
    box-shadow: 0 0 0 rgba(0, 0, 0, .0);
    border-top: solid #eeeeee 4px;
    border-radius: 0;
}

#accordion .panel-body
{
    border: none;
    margin-left: 20px;
    padding-top: 0;
}

#accordion .panel-heading
{
    background-color: transparent;
}

#accordion input
{
    margin-right: 10px;
    vertical-align: top;
}


aside a.btn
{
    width: 100%;
    height:40px;
    margin-top: 10px;
    margin-bottom: -10px;
    padding-top: 9px;
}


.profiles
{
    display: inline-block;
    width: 625px;
    margin-top: 45px;
    vertical-align: top;
}

.profile
{
    height: 160px;
    border: solid #eeeeee 2px;
    overflow: hidden;
    margin-bottom: 30px;
}
.profile:hover
{
    border-color: #e84355;
}

.profile .header
{
    background-color: #eeeeee;
    padding: 20px;
    height: 60px;
}

.profile .photo
{
    float: left;
}

.profile .header strong
{
    padding-left: 20px;
}

.profile .header p.tarif
{
    float: right;
    font-weight: bold;
}

.profile .body p
{
    padding: 20px 0 0 150px;
    line-height: 2.2;
}

.profiles a
{
    color: #333;
}

.profiles a:hover
{
    text-decoration: none;
}

.balloon
{
    background-image: url("../images/icons/balloon-red.png");
    height: 22px;
    width: 14px;
    display: inline-block;
    vertical-align: bottom;
}

.affix
{
    position: fixed;
    top: -40px;
}

.affix-bottom
{
    position: absolute;
    bottom: 0px;
}






/***************job list*****************/

.jobs
{
    display: inline-block;
    width: 626px;
    margin-top: 45px;
    vertical-align: top;
}

.job
{
    height: 160px;
    border: solid #eeeeee 2px;
    overflow: hidden;
    margin-bottom: 30px;
}
.job:hover
{
    border-color: #e84355;
}

.job .header
{
    background-color: #eeeeee;
    padding: 20px;
    height: 60px;
}

.job .header strong
{
    padding-left: 0;
}

.job .header p.tarif
{
    float: right;
    font-weight: bold;
}

.job .body p
{
    padding: 20px;
    line-height: 2.2;
}

.jobs a
{
    color: #333;
}

.job a:hover
{
    text-decoration: none;
}







/***************Page profil des nounous*****************/

.header
{
    background-color: #eeeeee;
    padding: 10px 20px;
}

.description
{
    border: solid #eeeeee 2px;
    margin-bottom: 30px;
}

.description .profile-picture
{
    margin: 10px 0;
}

.description h1
{
    display: inline;
    font-size: 20px;
    margin: 0 10px 0 20px;
    font-weight: bold;
}

.description .header
{
    height: 60px;
    padding: 20px;
}

.description .header span
{
    color: #888888;
}

.description .header .engage
{
    width: 90px;
}

.description .header .mail
{
    margin-left: 20px;
    margin-right: 10px;
}

.description .tarif
{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.description .body
{
    padding: 20px 20px 20px 154px;
    font-weight: bold;
    min-height: 150px;
}

.coords
{
    width: 100%;
    padding: 20px;
    line-height: 2.3;
    margin-bottom: 30px;
    background-color: #e84355;
    color: #FFFFFF;
}

.details
{
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 30px;
}

.details .detail
{
    margin-bottom: 20px;
}

.badges
{
    border: solid #eeeeee 2px;
    margin-bottom: 50px;
}

.badges .body
{
    padding: 15px;
}

.badges .body .icon
{
    margin: 5px;
}

.other
{
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 50px;
}

.recommandations .banner
{
    height: 70px;
    text-align: center;
    padding-top: 10px;
    background: url("../images/banners/ban-large-red.png") no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.recommandations textarea
{
    width: 815px;
    margin-right: 30px;
    margin-left: 0;
    border-radius: 20px;
    max-width: 815px;
    padding: 5px 10px;
}

.recommandations input[type="submit"]
{
    width: 110px;
    height: 53px;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.recommandations form
{
    margin-bottom: 30px;
}

.recommandations .left-arrow
{
    width: 10px;
}

.recommandation
{
    color: #888888;
    margin-bottom: 20px;
}

.recommandation p
{
    color: #000000;
    font-weight: bold;
}

.recommandation .bulle
{
    display: inline-block;
    width: 856px;
    border: solid #eeeeee 3px;
    vertical-align: top;
    padding: 20px;
}

.profile-page div.edit
{
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 20px;
    border: none;
    padding: 5px 10px 4px 40px;
    font-weight: bold;
    background: url('../images/icons/profil-modif.png') no-repeat #e84355 10px 4px;
}


/***************Page profil edit des nounous*****************/

.profile-page .wrap
{
    position: relative;
}

.profile-page.wrap
{
    position: relative;
}

.edit-page div.apercu
{
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 20px;
    border: none;
    padding: 5px 10px 4px 40px;
    font-weight: bold;
    background: url('../images/icons/profil-apercu.png') no-repeat #e84355 10px 4px;
}

#pn_pnbundle_babysitter_user_firstname
{
    margin-left: 20px;
}

.edit-page input[type='text']
{
    padding: 7px 20px 6px 10px;
    border: solid #888888 1px;
    line-height: normal;
}
.edit-page input[type='number']
{
    padding: 7px 5px 6px 10px;
    border: solid #888888 1px;
    line-height: normal;
}

.edit-page .description .header
{
    padding: 12px 20px
}

#pn_pnbundle_babysitter_rate_price
{
    width: 100px;
}

.edit-page select
{
    border: solid #888888 1px;
    padding: 4px 5px 7px 10px;
    height: inherit;
    vertical-align: bottom;
}

.edit-page .description .body
{
    padding-left: 150px;
}

.edit-page .body textarea
{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

#pn_pnbundle_babysitter_user_phone
{
    width: 220px;
    line-height: 1;
    color: #000000;
}

#pn_pnbundle_babysitter_user_address
{
    width: 241px;
}

#pn_pnbundle_babysitter_user_birthdate
{
    display: inline-block;
    margin-top: 10px;
}

#pn_pnbundle_babysitter_experience
{
    margin-top: 10px;
    width: 50px;
    padding-left: 15px;
}

#diplomas
{
    margin-top: 10px;
}

#diplomas li
{
    list-style-type: none;
    padding-left: 24px;
}

#pn_pnbundle_babysitter_diplomas
{
    padding-left: 25px;
}

#pn_pnbundle_babysitter_presentation
{
    height: 106px;
    width: 100%;
    max-width: 100%;
}

#editBabysitterForm input[type='submit']
{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#pn_pnbundle_babysitter_file
{
    position: absolute;
}

input#pn_pnbundle_babysitter_diplomas_1
{
    float: left;
}

label[for="pn_pnbundle_babysitter_diplomas_1"]
{
    display: inherit;
    margin-left: 18px;
}

#ageOfChildren li
{
    padding-left: 24px;
    height: 20px;
}

#languages li
{
    padding-left: 24px;
    height: 20px;
}

#pn_pnbundle_babysitter_favoriteactivities
{
    width: 100%;
}

#pn_pnbundle_babysitter_hobbies
{
    width: 100%;
}

.other div
{
    margin-top: 10px;
}

.pres-video
{
    height: 150px;
    margin-bottom: 30px;
    /* border: solid #eeeeee 3px; */
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 63px;
    width: 100%;
    border-radius: 0;
}

#choose-photo
{
    top: 0px;
    right: -5px;
    background-color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 20px;
    padding: 4px 0;
}

#uploadfile{
    display: none;
}

.newupload
{
    cursor: pointer;
    width: 40px;
}

#videoUploadfile{
    display: none;
}

.newvideo
{
    position: relative;
}

.changeVideo
{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -63px;
    width: inherit;
}

.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}










/***************Page job*****************/

table.calendar
{
    background-color: #eeeeee;
    width: 300px;
    text-align: center;
    vertical-align: middle;
}

table.calendar th
{
    width: 30px;
    height: 10px;
    border: solid #eeeeee 3px;
    text-align: center;
}

table.calendar td
{
    width: 30px;
    height: 10px;
    border: solid #eeeeee 3px;
}

table.calendar td.off
{
    background-color: #ffffff;
}

table.calendar td.on
{
    background-color: lightgreen;
}

.child-block
{
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 30px;
}

table.calendar button
{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff;
}










/***************Page job edit*****************/
.job-edit
{
    position: relative;
}

#pn_pnbundle_job_title
{
    margin-left: 20px;
    width: 300px;
}

#pn_pnbundle_job_description
{
    height: 106px;
    width: 100%;
    max-width: 100%;
}

#pn_pnbundle_job_phone
{
    width: 220px;
    line-height: 1;
    color: #000000;
}

#pn_pnbundle_job_rate_price
{
    width: 100px;
}

#pn_pnbundle_job_start
{
    width: 210px;
    display: inline;
    vertical-align: middle;
}

#pn_pnbundle_job_end
{
    width: 210px;
    display: inline;
    vertical-align: middle;
}

#pn_pnbundle_job_experience
{
    margin-top: 10px;
    width: 50px;
    padding-left: 15px;
}

#pn_pnbundle_job_address
{
    width: 241px;
}

label[for='pn_pnbundle_job_diplomas_1']
{
    display: inherit;
    margin-left: 18px;
}

#pn_pnbundle_job_diplomas_1
{
    float: left;
}











/***************Page conversation*****************/

.message-topMenu
{
    background-color: #eeeeee;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 20px;
}

.message-topMenu a
{
    width: 150px;
    font-weight: bold;
}

.message-leftMenu
{
    margin-bottom: 30px;
}

.message-leftMenu .btn
{
    background-color: #ffffff;
    border: solid #eeeeee 3px;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    border-radius: 0;
    color: black;
    height: 46px;
    margin-top: -3px;
    font-size: 14px;
}
.message-leftMenu .btn:hover
{
    background-color: #eeeeee;
}
.message-leftMenu .btn.selected
{
    background-color: #eeeeee;
}

.message-leftMenu .unread
{
    display: inline-block;
    text-align: center;
    padding-top: 4px;
}

.conversation textarea
{
    width: 100%;
    border: solid #f7c937 3px;
    max-width: 100%;
    color: #000000;
}

.conversation input[type="submit"]
{
    width: 110px;
}

.conversation form
{
    margin-bottom: 30px;
}

.conversation .arrow
{
    width: 10px;
}

.message
{
    color: #888888;
    margin-bottom: 20px;
}

.message p
{
    color: #000000;
    font-weight: bold;
}

.message .bulle
{
    display: inline-block;
    width: 590px;
    border: solid #eeeeee 3px;
    vertical-align: top;
    padding: 20px;
}

.conversation
{
    display: none;
    height: 500px;
    overflow-y: auto;
}
.conversation.selected
{
    display: block;
}

.left-arrow
{
    margin-right: -5px;
}

.right-arrow
{
    margin-left: -5px;
}

#newConversation ul
{
    overflow-y: scroll;
    height: 200px;
    margin-top: 20px;
    list-style-type: none;
    background-color: white;
    border-radius: 20px;
    padding-left: 0;
}

#newConversation li
{
    padding-left: 20px;
}
#newConversation li:hover
{
    cursor: pointer;
    background-color: #e84355;
    color: #FFFFFF;
}

#newConversation button.cancel
{
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    padding: 3px;
    border: none;
}















/***************Dashboard*****************/

.dashboard.menu
{
    background-color: #eeeeee;
    height: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 7px 20px;
}

.dashboard.menu a
{
    color: #000000;
    margin-right: 20px;
}
.dashboard.menu a:hover
{
    color: #BBBBBB;
}

.annonce
{
    color: #000000;
}

.annonce .header
{
    height: 40px;
    padding: 7px 20px;
}

.solde
{
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.solde button
{
    background-color: #555555;
    padding: 0 10px;
    width: inherit;
}

.menu-recommendation button
{
    background-color: #ffffff;
    border: solid #eeeeee 3px;
    width: 100%;
    padding: 5px;
    color: #BBBBBB;
    font-weight: bold;
    text-align: left;
}
.menu-recommendation button:hover
{
    background-color: #eeeeee;
    color: #ffffff;
}
.menu-recommendation button.selected
{
    background-color: #eeeeee;
    color: #ffffff;
}

.menu-recommendation p
{
    color: #888888;
    line-height: 1.3;
    font-size: 12px;
    margin-top: 10px;
}









/***************Formations*****************/
.moocs .frame
{
    position: relative;
}

.moocs .frame .description
{
    position: absolute;
    top: 40px;
    left: 40px;
    border: none;
    width: 500px;
}

.moocs .frame .description img
{
    float: left;
    margin-right: 10px;
}

.moocs .frame .description strong
{
    vertical-align: -webkit-baseline-middle;
}

.moocs .list
{
    margin-bottom: 50px;
}







/***************Blog*****************/
.blog .header .right a
{
    padding-right: 10px;
    height: inherit;
    width: inherit;
}









/***************Popups*****************/

.modal-dialog.small
{
    width: 342px;
    border-radius: 0;
}

.modal-content
{
    border-radius: 0;
}

.modal-header
{
    text-align: center;
    margin-left: -60px;
    height: 70px;
    border: none;
    padding: 18px 80px;
}

.modal-header h3
{
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

.modal-header .close
{
    font-size: 30px;
    color: #ffffff;
    opacity: .7;
}
.modal-header .close:hover
{
    opacity: 1;
}

.modal-body
{
    color: #888888;
    padding: 30px;
    font-size: 16px;
}

.modal-header.medium
{
    width: 810px;
}

.modal-header.small
{
    width: 460px;
}

.modal-header.medium.bg-blue
{
    background: url("../images/banners/ban-medium-blue.png") no-repeat;
}

.modal-header.small.bg-blue
{
    background: url("../images/banners/ban-small-blue.png") no-repeat;
}

.modal-header.small.bg-purple
{
    background: url("../images/banners/ban-small-purple.png") no-repeat;
}

.modal-header.small.bg-red
{
    background: url("../images/banners/ban-small-red.png") no-repeat;
}

.modal-dialog input[type='radio']
{
    height: inherit;
}

.modal-dialog input[type='text']
{
    border: solid #eeeeee 2px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.modal-dialog input[type='email']
{
    border: solid #eeeeee 2px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.modal-dialog input[type='password']
{
    border: solid #eeeeee 2px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.modal-dialog button[type="submit"]
{
    margin: 20px 5px 10px 0;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 9px 20px 6px;
}

#login .modal-dialog button[type="submit"]
{
    background-color: #b093c4;
    padding: 8px 20px 5px 20px;
}

#login .modal-dialog a#mdp_oublie
{
    color: #b093c4;
    font-weight: bold;
    font-size: 14px;
}

#register .info
{
    border-top: solid #eeeeee 1px;
    border-bottom: solid #eeeeee 1px;
    margin: 15px 0;
    padding: 15px 0;
}

#register .modal-dialog button[type="submit"]
{
    background-color: #65c0e3;
}

#pn_pnbundle_user_secondType
{
    display: none;
}

#account_management .modal-dialog button[type="submit"]
{
    background-color: #e84355;
}

.revenu
{
    height: inherit;
    border: none;
    background-color: #eeeeee;
}

.revenu .header strong
{
    padding-left: 0;
}

.revenu .body
{
    background-color: #eeeeee;
}

.revenu .body .line
{
    background-color: white;
    margin: 5px;
    padding: 5px 10px;
    color: #BBBBBB;
}

#tarifs .modal-dialog
{
    width: 700px;
}

#tarifs .modal-body
{
    height: 200px;
}

#tarifs .modal-body div.col-md-6:first-child
{
    border-right: solid lightgrey 1px;
}

#tarifs h4
{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    color: #000000;
}

#tarifs span.red
{
    float: right;
}

#contact .modal-dialog
{
    width: 693px;
}

#contact .modal-body .text
{
    border-bottom: solid #eeeeee 1px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#contact .modal-body input
{
    font-weight: bold;
}

#contact .modal-body input[type="text"]
{
    width: 200px;
    margin-right: 10px;
}
#contact .modal-body input[type="email"]
{
    width: 200px;
}
#contact .modal-body textarea
{
    border: solid #eeeeee 2px;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    resize: none;
    font-weight: bold;
}

#contact input#contact_email
{
    margin-right: 0;
}












/***************footer*****************/

footer
{
    background-color: #eeeeee;
    color: #000000;
    height: 140px;
    padding-top: 60px;
}

footer .pages a
{
    padding: 0 12px;
    border-left: solid #cccccc 1px;
}

footer .social-bar
{
    float: right;
}

footer .social-bar .icon
{
    display: inline-block;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}























/***************Bootstrap Select*****************/

.btn-group.bootstrap-select
{
    margin-bottom: 0 !important;
    width: 240px !important;
}

.btn-group.bootstrap-select
{
    margin-bottom: 0;
}

.btn.dropdown-toggle.selectpicker.btn-default
{
    height: 40px;
    vertical-align: text-bottom;
    background-color: #666666;
    padding-left: 20px;
}

.btn.dropdown-toggle.selectpicker.btn-default:focus
{
    color: #ffffff;
}

.btn.dropdown-toggle.selectpicker.btn-default:enabled
{
    color: #ffffff !important;
}

.dropdown-menu.open
{
    background-color: #666666;
}

.dropdown-menu.inner.selectpicker
{
    background-color: transparent;
    color: white !important;
}

.dropdown-menu.inner.selectpicker li:hover span.text
{
    color: #666666;
}

.dropdown-menu.inner.selectpicker li.selected span.text
{
    color: #666666;
}

.dropdown-menu.inner.selectpicker span.text
{
    color: #ffffff;
}

