
<div id="cms-block-001" class="cms-block cms-block-element">
    <h2>Statistiques</h2>
    <b>Nombre d'utilisateurs : {{ nbUsers }}</b><br>
    &nbsp;&nbsp;Nombre de nounous : {{ nbNounous }}<br>
    &nbsp;&nbsp;Nombre de parents : {{ nbParents }}<br>
</div>