
<div id="cms-block-002" class="cms-block cms-block-element">
    <h2>Contrôles</h2>
    <a href="{{ path('pn_babysitter_updateTrustpoints') }}"><button type="button" class="btn">Mettre à jour les points de confiance des babysitters</button></a>
</div>