
<div id="cms-block-002" class="cms-block cms-block-element">
    <h2>Utilisateur connecté</h2>
    <b>Username : {{ user.username }}</b><br>
    <a href="{{ path('logout') }}"><button type="button" class="btn btn-danger">Logout</button></a>
</div>