{% import "PnPnBundle::calendar.html.twig" as calendar %}

{% block body -%}
    <h1>Job edit</h1>

    {{ form(edit_form) }}




    {{ calendar.editTable('table1') }}

    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pn_job') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
